{{!
    @template mod_jupyter/manage


    Example context (json):
    {
    }
}}



<body>
  <img src="images/unistuttgart_logo_deutsch.png" alt="logo" align="right">
  <h1 align="left">Jupyter</h1>
  <hr>
  <div align="center" width="100%">
  </div>
</body>

<style>
  img{
    height: 3em;
  }
</style>
